<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Worker</title>
  </head>
  <body>
    <div class="vw-100 vh-100 d-flex flex-row">
      {% if user.is_authenticated %}
      <div
        class="col-2 bg-secondary d-flex flex-column align-content-center justify-content-between p-2"
      >
        <div>Dobrodošel, {{user}}</div>
        <div class="d-flex flex-column">
          <a href="{% url 'index' %}" class="text-white text-decoration-none"
          >Domov</a
        >
            <a href="{% url 'worker_new' %}" class="text-white text-decoration-none"
            >Dodaj novega člana</a>           
            
            <a href="{% url 'workers' %}" class="text-white text-decoration-none"
            >Pregled in urejanje članov</a
          >
       
          <a href="{% url 'evidence_new' %}" class="text-white text-decoration-none"
            >Dodaj prihod</a
          >
          <a href="{% url 'evidence' %}"" class="text-white text-decoration-none"
            >Pregled prihodov</a
          >
        </div>
        <div>
          <a href="{% url 'logout' %}" class="text-white text-decoration-none"
            >Odjava</a
          >
        </div>
      </div>
      <div class="col-10">{% block content %} {% endblock %}</div>
      {% else %}
    </div>
    {% endif %}
  </body>
</html>
