<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>dodani uporabniki na dan {{ today }}</div>
    <div>
      {% for worker in workers %}
      <div>
        <p>Ime: {{ worker.first_name }}</p>
        <p>Priimek: {{ worker.last_name }}</p>
        <p>Datum rojstva: {{ worker.date_of_birth }}</p>
        <p>Številka kartice: {{ worker.card_id }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
